@use '../abstracts/variables' as var;

@media screen and (max-width: 767px) {

    .liens_in,
    .liens_2 {
        display: none;
    }

    .presentation {
        gap: 0rem;
        max-width: 100%;
        flex-direction: column;

        .accroche {
            width: auto;
            gap: 0%;

        }


        .pub {
            text-align: center;

            .slogan {
                transform: rotate(15deg);
            }
        }

        .me {
            width: 50%;
        }
    }

    .me_proj {
        justify-content: center;
        align-items: center;
        margin-left: 0;
    }

    .footer a {
        position: relative;

        left: 15%;
        bottom: 0;

    }

    #date {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }



}

#link a,
#git a {
    font-size: 2rem;
    bottom: 50%;
}

@media (min-width: 768px) {
    .menu {
        display: none;
    }

    .accroche {
        max-width: 100%;
    }

    .me {
        width: 60%;
    }

    .footer a {
        left: 20%;

    }

    .date {
        padding: 0 0 0 1rem;
        font-size: 1rem;
    }
}

.liens_in,
.liens_2 {
    gap: 5rem;
}

@media (min-width:1030px) {
    body {
        font-size: 2.5rem;
    }

    #date {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
    }
}