@use '../abstracts/variables' as var;
@media screen and (max-width: 740px) {

    .liens_in,
    .liens_2 {
        display: none;
    }

    .presentation {
        gap: 0;
        flex-direction: column;

        .accroche {
            width: auto;
            gap: 0%;

        }


        .pub {
            text-align: center;

            .slogan {
                transform: rotate(15deg);
            }
        }

        .me {
            width: 50%;
        }
    }

    .me_proj {
        justify-content: center;
        align-items: center;
        margin-left: 0;
    }

    .footer a {
        left: 15%;
        bottom: 0;

    }

}

#link a,
#git a {
    font-size: 2rem;
    bottom: 50%;
}


@media screen and (min-width: 430px) {
    .menu {}
}


@media screen and (max-width: 740px) and (min-width: 430px) {
    .menu {}

    .liens_in {
        gap: 5rem;
    }

    .accroche {
        max-width: 100%;
    }

    .me {
        width: 60%;
    }

    .footer a {
        left: 20%;

    }
}

@media screen and (min-width: 769px) {
    .menu {
        display: none;
    }

    .liens_in,
    .liens_2 {
        gap: 5rem;
    }


}