@use '../abstracts/variables' as var;
@media screen and (max-width: 425px) {

    .liens {
        display: none;
    }

    .presentation {
        position: static;
        transform: none;

        flex-direction: column;
        max-width: 100%;
        width: 100%;

        .accroche {
            max-width: 100%;
        }

        .text_accroche {
            &:hover {
                transform: none;
            }
        }
    }

    .footer a {
        left: 15%;
        bottom: 0;
        color: var.$secondary-color;
    }
}


@media screen and (min-width: 430px) {
    .menu {
        display: none;
    }
}


@media screen and (max-width: 768px) and (min-width: 430px) {
    .menu {
        display: none;
    }

    .liens_in {
        gap: 5rem;
    }

    .accroche {
        max-width: 100%;
    }

    .me {
        width: 60%;
    }

    .footer a {
        left: 20%;

    }
}

@media screen and (min-width: 769px) {
    .menu {
        display: none;
    }


}