@use "layout/body";
@use "layout/navbar";
@use "layout/header.scss";
@use "layout/main";
@use 'layout/footer';
//
@use "pages/motivation";
//
@use "base/fonts";
@use "base/base";
@use 'base/responsive';