@use '../abstracts/variables' as var;


body {
    padding-top: 1rem;
    background-color: black;
}

.video {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    z-index: -1;
}

.carte {
    z-index: 1;
}