 @use '../abstracts/variables' as var;
 @use'../components/boutton.scss' as btn;


 #formulaire {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);

     color: var.$primary-color;
     font-size: 0.9rem;
     margin-bottom: 2rem;
     letter-spacing: .2rem;
 }

 input,
 textarea {
     width: 100%;
     padding: 15px 0 20px 0;
     background: #ffffff4d;
     color: var.$primary-color;
     font-size: 1rem;

 }

 #btnform {
     display: flex;
     justify-content: center;


     #btn {
         padding-left: 2rem;
         margin: 10px 0 0 50px;
         padding: 15px;
         width: 160px;
         border: none;
         border-radius: 25px;
         font-weight: 600;
         font-size: 1rem;

         transition: btn.$btn-transition;
         font-size: 1.2rem;
         margin-left: 2rem;
         color: var.$secondary-color;
         background: btn.$btn-background;


     }
 }

 #for_prenom {
     transform: translateX(-120vw);
     animation: slideText 2.0s ease-out forwards;
 }

 #for_nom {
     transform: translateX(120vw);
     animation: slideText 2.2s ease-out forwards;
 }

 #for_email {
     transform: translateY(120vw);
     animation: slideText 2.5s ease-out forwards;
 }

 #for_message {
     transform: translateY(-120vw);
     animation: slideText 2.8s ease-out forwards;
 }

 .link {
     position: fixed;
     bottom: 50%;
     list-style: none;



 }

 #link a {
     position: fixed;
     left: 25%;
     color: var.$primary-color;
     text-decoration: none;
     font-size: 5rem;
     transform: translate(-50%, -100vh);
     transition: transform 0.3s ease;
     animation: slidedown 2.8s ease-out forwards;
 }


 #git a {
     position: fixed;
     left: 40%;
     color: var.$primary-color;
     text-decoration: none;
     font-size: 5rem;
     transform: translate(-50%, -10vh);
     transition: transform 0.3s ease;
     animation: slidedown 2.8s ease-out forwards;
 }

 #cv a {

     position: fixed;
     bottom: 49.75%;
     left: 9.5%;
     color: var.$primary-color;
     text-decoration: none;
     font-size: 2rem;
     transform: translate(-50%, -10vh);
     transition: transform 0.3s ease;
     animation: slidedown 2.8s ease-out forwards;
 }




 @keyframes slidedown {
     to {
         opacity: 1;
         transform: translateX(0);
     }
 }

 @keyframes slideText {
     to {
         opacity: 1;
         transform: translateX(0);
     }
 }