 @use '../abstracts/variables' as var;

 .footer a {
     position: fixed;
     bottom: 2%;
     right: 30%;
     color: var.$primary-color;
     text-decoration: none;
     font-size: 5rem;
     transform: translate(-50%, -100vh);
     opacity: 0;
     transition: transform 0.3s ease;
     animation: slidedown 2.8s ease-out forwards;


     &:hover {
         transform: scale(1.1);
         color: var.$color
     }
 }

 @keyframes slidedown {
     to {
         opacity: 1;
         transform: translateX(0);
     }
 }