 @use '../abstracts/variables' as var;

 .footer a {
     position: fixed;
     bottom: 2%;
     left: 40%;
     color: var.$primary-color;
     text-decoration: none;
     font-size: 5rem;
     transition: transform 0.3s ease;
     ;

     &:hover {
         transform: scale(1.1);
     }


 }