 @use '../abstracts/variables' as var;

 .menu {
     display: flex;
     margin-left: 1rem;
     gap: 0.3rem;

     a {
         color: var.$primary-color;
         cursor: pointer;
         transform: translateX(-50vw);
     }
 }

 .menu a.open {
     transform: initial;
 }


 #big_mac {
     cursor: pointer;
 }

 #openBtw {
     color: var.$primary-color ;

 }

 #big_bacon {
     color: var.$primary-color ;
 }

 .elements {
     display: flex;
     flex-direction: column;
     list-style: none;
     padding: 0;
     transform: translateX(-50vw);
     transition: 0.3s transform ease-in-out;

     li a {
         color: var.$primary-color;
         font-weight: 600;
         text-decoration: none;

     }

     .burger {
         margin-bottom: 0.5rem;
     }

 }

 .elements.open {
     transform: initial;
 }

 .liens_in,
 .liens_2 {

     display: flex;
     justify-content: center;
     align-items: center;
     list-style: none;
     font-size: 1.5rem;
     font-weight: 800;
     border: 0.2rem solid var.$secondary-color;
     border-radius: 5rem;
     padding: 1.5rem 1.5rem 1.5rem 1.5rem;
     margin: 0 1rem 0 1.5rem;
     background: var.$background;
     animation: fadeSlideDown 2s ease-out forwards;
     transition: transform 0.3s ease;


     li a {
         display: inline-block;
         text-decoration: none;
         color: var.$primary-color;
         transition: transform 0.3s ease, color 0.3s ease;


         &:hover {
             transform: scale(1.3);
             color: var.$color;
         }
     }
 }

 @keyframes fadeSlideDown {
     0% {
         opacity: 0;
         transform: translateY(-100%);
     }

     100% {
         opacity: 1;
         transform: translateY(0);
     }
 }