 @use '../abstracts/variables' as var;

 .menu {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;

     color: white;

     .elements li {

         list-style: none;

     }
 }

 .liens_in {
     display: flex;
     gap: 15rem;
     justify-content: center;
     align-items: center;
     list-style: none;
     font-size: 1.5rem;
     font-weight: 800;
     border: 0.3rem solid var.$secondary-color;
     border-radius: 5rem;
     padding: 1.5rem 1.5rem 1.5rem 1.5rem;
     margin: 0 1rem 0 1.5rem;
     backdrop-filter: blur(10px);
 }

 li a {
     display: inline-block;
     text-decoration: none;
     color: var.$primary-color;
     transition: transform 0.3s ease, color 0.3s ease;


     &:hover {
         transform: scale(1.3);
         color: red;



     }

 }