 @use '../abstracts/variables' as var;

 .presentation {

     display: flex;
     align-items: center;
     justify-content: center;
     height: 50%;
     gap: 50px;
     overflow: hidden;


     .accroche {
         display: flex;
         flex-direction: column;
         width: 30%;
         color: var.$primary-color;
         gap: 1rem;


         .text_accroche {
             text-align: center;
             font-size: 2.5rem;
             transform: translateX(-120vw);
             animation: slideText 1.2s ease-out forwards;
         }


         .welcom {
             transform: rotate(10deg);
             backdrop-filter: blur(10px);

         }
     }

     .name {
         text-align: end;
         font-size: 2rem;
         transform: translateX(-120vw);
         animation: slideText 2.0s ease-out forwards;


     }

     .nom {
         transform: rotate(-10deg);
         backdrop-filter: blur(10px);
     }

     .pub {
         text-align: c;
         font-size: 2rem;
         transform: translateX(-120vw);
         animation: slideText 2.8s ease-out forwards;

         .slogan {
             transform: rotate(30deg);
             backdrop-filter: blur(5px);
         }
     }

 }

 .me {
     transform: translateX(120vw);
     animation: slideImg 2.0s ease-out forwards;
     animation-delay: 0.25s;


     .me img {
         width: 60%;
     }
 }

 .me_proj {
     margin-left: 5rem;
     display: flex;
     flex-direction: column;
     gap: 1rem;
 }


 .me_proj video {
     max-width: 300px;
     height: auto;
     overflow: hidden;
     transform: translateX(120vw);
     animation: slideImg 3.0s ease-out forwards;
     animation-delay: 0.25s;
 }

 .imgp_1 {
     transform: translateX(120vw);
     animation: slideImg 1.5s ease-out forwards;
     animation-delay: 0.25s;
 }

 .imgp_2 {
     transform: translateX(120vw);
     animation: slideImg 2.5s ease-out forwards;
     animation-delay: 0.25s;
 }


 @keyframes slideText {
     to {
         opacity: 1;
         transform: translateX(0);
     }
 }

 @keyframes slideImg {
     to {
         opacity: 1;
         transform: translateX(0);
     }
 }

 #date {
     display: flex;
     justify-content: flex-start;
     padding-left: 5rem;

     align-items: center;
     gap: 1rem;
     color: var.$primary-color;
     backdrop-filter: blur(1rem);

 }